<!--
============================================
; Title: RW Punk API Technical Challenge
; Author: Jason Sullenger
; Date: 11/01/2020
; Description: General Website. Calls Punk API.
; Users can filter and search.
;===========================================
-->

<div class="navigation">
  <header>
    <!-- Navbar -->
    <mat-toolbar class="menu" role="header" color="primary">
      <mat-toolbar-row>
        <div fxFlex></div>

        <button
          mat-icon-button
          class="toolbar__icon-button"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!-- Home -->
          <button
            mat-button
            class="toolbar__icon-button mat-button"
            (click)="navigateHome()"
          >
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <br>
          <!-- Beer List -->
          <button
            mat-button
            class="toolbar__icon-button mat-button"
            (click)="navigateBeerList()"
          >
            <mat-icon>local_drink</mat-icon>
            <span>Available Beer</span>
          </button>
          <br>
          <!-- About Us -->
          <button
            mat-button
            class="toolbar__icon-button mat-button"
            (click)="navigateAbout()"
          >
            <mat-icon>business</mat-icon>
            <span>About Us</span>
          </button>
          <br>
          <!-- Contact Us -->
          <button
            mat-button
            class="toolbar__icon-button mat-button"
            (click)="navigateContact()"
          >
            <mat-icon>email</mat-icon>
            <span>Contact Us</span>
          </button>
        </mat-menu>

        <!-- Home -->
        <button
          mat-button
          class="toolbar__icon-button mat-button"
          (click)="navigateHome()"
        >
          <span><h3>Beer Revolution</h3></span>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
</div>
