<!--
============================================
; Title: RW Punk API Technical Challenge
; Author: Jason Sullenger
; Date: 11/01/2020
; Description: General Website. Calls Punk API.
; Users can filter and search.
;===========================================
-->

<div *ngIf="brew">
  <h2 mat-dialog-title>{{ brew.name }}</h2>
  <mat-dialog-content>
    <img
      src="{{ brew.image_url }}"
      alt="Image of {{ brew.name }} bottle"
      id="dialogImage"
    />
    <ul>
      <li>Originated: {{ brew.first_brewed }}</li>
      <li>Alcohol by volume: {{ brew.abv }}</li>
      <li>Bitterness Levels: {{ brew.ibu }}</li>
      <li>Contributed by: {{ brew.contributed_by }}</li>
      <li>Pairs well with:</li>
      <ul>
        <li *ngFor="let food of brew.food_pairing">{{ food }}</li>
      </ul>
      <li>Volume: {{ brew.volume.value }} {{ brew.volume.unit }}</li>
    </ul>

    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Description </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ brew.description }}</p>
    </mat-expansion-panel>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="accent">Close</button>
  </mat-dialog-actions>
</div>
