@media screen and (min-width: 1025px) {
  .AgeDialogStyling {
    width: 5% !important;
    height: 5%;
  }
  .ageDialog {
    width: 40%;
    font-size: 30px;
    margin: 0px auto 0px auto;
  }
  .ageActions {
    margin: 0px auto 0px auto;
    width: 50%;
  }
  .buttonMargin {
    margin: 10px 0px;
    width: 100%;
  }
}

/* Phone */
@media screen and (max-width: 600px) {
  .ageActions {
    margin: 0px auto 0px auto;
  }
}
/* Tablet */
@media screen and (min-width: 601) and (max-width: 1025px) {
  .ageDialog {
    width: 100%;
    font-size: 25px;
  }
  .buttonMargin {
    margin: 10px 0px;
    width: 100%;
  }
  .ageActions {
    margin: 0px auto 0px auto;
    width: 25%;
  }
}
/*Main Styling*/
.ageDialog {
  background-color: #f6f2f2;
  text-align: center;
}
.buttonYes {
  background-color: #45a29e;
}
