<!--
============================================
; Title: RW Punk API Technical Challenge
; Author: Jason Sullenger
; Date: 11/01/2021
; Description: General Website. Calls Punk API.
; Users can filter and search.
;===========================================
-->

<div class="ageDialog" id="alignCenter">
  <img
    class="animatedLogo"
    src="../../../assets/images/sully-Logo-Animated.gif"
    alt="Animated logo for Sully Selections"
  />
  <div>
    <mat-dialog-content>
      <div *ngIf="!underAge">
        <p>Are you <strong>21 or older</strong>?</p>
      </div>
      <div *ngIf="underAge == true">
        <h6>Sorry, you must be 21 years or older to enter this site.</h6>
      </div>
      <div *ngIf="!underAge" class="ageActions">
        <button
          mat-raised-button
          mat-dialog-close
          (click)="ageVerified()"
          color="secondary"
          class="buttonYes buttonMargin"
        >
          Yes
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="not21()"
          class="buttonMargin"
        >
          No
        </button>
      </div>
    </mat-dialog-content>
  </div>
</div>
