.beerPage{
  margin-top: 100px;
}
.beerImage {
  width: 30%;
}

.textCenter {
  text-align: center;
}

.justify {
  justify-content: center;
}

.filter {
  margin: 5px 25px;
}

.form {
  font-size: 15px;
}

.filterHeader {
  margin-top: 5px;
  margin-left: 50px;
}

/* mat-grid-tile {
  width: 350px;
  height: 520px;
  margin: 25px 25px;
  background-color: grey;
} */
