.beerPage {
  margin: 100px auto 0px auto;
  max-width: 100%;
}

.textCenter {
  text-align: center;
}

/* Filter Section */
.filter-Section{
  height: 100%;
  font-size: 15px;
}

.filter-Sidenav-Button{
  margin: 10px
}

.filter-Sidenav{
  text-align: left;
  padding: 10px;
  position: fixed;
  margin-top: 115px;
}

mat-slider{
  width: 90%;
}

.search-form-field{
  margin-right: 15px;
}

/* Beer Card */
.beer-card > div > img {
  height: 300px;
}

.beer-card:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
}

/* Pagination */
.pagDiv {
  height: 100px;
  background-color: #0097a7;
  justify-content: center;
  margin: auto auto;
}

.pagination {
  padding-top: 30px;
}
