@media screen and (min-width: 1000px) {
  /* First Row */
  .main {
    padding-left: 75px;
  }
  .aboutUs {
    width: 35%;
  }
  .carousel {
    width: 65%;
    padding: 5px;
  }
  /* Second Row */
  .secondRow {
    margin-top: 150px;
  }
  .secondRow > .image {
    width: 15%;
  }
  .textBox {
    width: 60%;
    padding: 30px;
    margin: 0px 50px 25px 25px;
    border-radius: 40px;
  }
  /* Third Row */
  .moreInfo {
    margin: 50px auto 50px auto;
  }
  .location,
  .social,
  .links {
    padding-top: 20px;
  }
}

/* Phone */
@media screen and (max-width: 600px) {
  .main {
    padding-left: 5px;
  }
  .aboutUs {
    width: 100%;
  }
  .carousel {
    width: 100%;
  }
  /* Second Row */
  .secondRow > .image {
    display: none;
  }
  .textBox {
    width: 100%;
    padding: 15px;
  }
  /* Third Row */
  .moreInfo {
    margin: 0px auto;
  }
  .location,
  .social,
  .links {
    padding-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 999px) {
  /* Tablet First Row */
  .aboutUs {
    width: 100%;
    padding-left: 15px;
  }
  .carousel {
    width: 100%;
  }
  /* Tablet Second Row */
  .secondRow > .image {
    width: 50%;
  }
  .textBox {
    width: 100%;
    padding: 30px;
    margin-bottom: 50px;
  }

  /* Tablet Third Row */
  .moreInfo {
    margin: 0px auto;
  }
  .location,
  .social,
  .links {
    padding-top: 20px;
  }
}
/* First Row Main Styling*/
.main {
  margin-top: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.aboutUs {
  padding: 5px;
  margin-top: 10px;
}
#storyButton {
  color: white;
  margin-left: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

#storyButton:hover {
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}
.carousel {
  margin: 10px auto 0px auto;
}

.carousel-caption {
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
}
.carousel-caption span {
  color: black;
}
.carousel-control-prev-icon {
  background-color: rgba(192, 192, 192, 0.9);
  box-shadow: 0 0 15px 15px rgba(192, 192, 192, 0.3);
  border-radius: 20px;
}
.carousel-control-next-icon {
  background-color: rgba(192, 192, 192, 0.9);
  border-radius: 20px;
}
/* Second Row Main Styling*/
.secondRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 50px;
  color: white;
}
.textBox {
  background-color: #45a29e;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

/* Third Row Main Styling */
.moreInfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  background-color: #45a29e;
  color: white;
}

.fa-2x {
  color: white;
  padding: 5px;
}

.marginBottom {
  margin-bottom: 30px;
}

#fontLarge {
  font-size: 20px;
}

a {
  color: white;
}
