<!--
============================================
; Title: RW Punk API Technical Challenge
; Author: Jason Sullenger
; Date: 11/01/2020
; Description: General Website. Calls Punk API.
; Users can filter and search.
;===========================================
-->

<div class="contactUs">
  <mat-card class="contactCard">
    <mat-card-header id="justify">
      <mat-card-title>Contact Us</mat-card-title>
    </mat-card-header>
    <hr />
    <mat-card-content class="cardContent">
      <div class="business">
        <h4>Beer Revolution</h4>
      </div>

      <div class="phone">
        <h6>Phone</h6>
        <mat-icon>call</mat-icon>
      </div>

      <div class="email">
        <h6>Email</h6>
        <mat-icon>email</mat-icon>
      </div>

      <div class="email">
        <h6>Address</h6>
        <mat-icon>work</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>
</div>
