@media screen and (min-width: 1025px) {
  .aboutUs {
    margin: 150px auto 0px auto;
    width: 80%;
  }
  .aboutImg{
    width: 35%;
  }
  .aboutText{
    width: 55%;
  }
}
/* Phone */
@media screen and (max-width: 600px) {
  .aboutUs {
    margin: 125px auto 150px auto;
    width: 100%;
  }
  .aboutImg{
    width: 75%;
  }
  .aboutText{
    margin-top: 25px;
    width: 100%;
  }
}
/* Tablet */
@media screen and (max-width: 1025px) and (min-width: 601px) {
  .aboutUs {
    margin: 150px auto 150px auto;
    width: 100%;
  }
  .aboutImg{
    width: 45%;
  }
  .aboutText{
    width: 100%;
  }
}

/* Main Styling */
.aboutRow{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.aboutCard {
  background-color: lightgray;
}
