<!--
============================================
; Title: RW Punk API Technical Challenge
; Author: Jason Sullenger
; Date: 11/01/2021
; Description: General Website. Calls Punk API.
; Users can filter and search.
;===========================================
-->

<div class="aboutUs">
  <mat-card class="aboutCard">
    <mat-card-content class="aboutContent">
      <div class="aboutRow">
        <div class="aboutImg">
          <figure>
            <img
              src="../../../assets/images/Brewery-Common-Area.jpg"
              alt="Brewery Common Area"
            />
            <figcaption>
              <span
                >Photo by
                <a
                  href="https://unsplash.com/@m_barrifilms?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                  >Matt Barringer</a
                >
                on
                <a
                  href="https://unsplash.com/s/photos/brewery-buidling?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
                  >Unsplash</a
                ></span
              >
            </figcaption>
          </figure>
        </div>
        <div class="aboutText">
          <h4 id="aboutHeader">About Sully Selections</h4>
          <br />
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste et
            incidunt quasi fugit, quos veniam, nemo deserunt sed animi ullam ea
            architecto vitae suscipit unde natus nesciunt minima nihil explicabo
            soluta aliquam? Repellendus, doloremque? Natus laudantium dolores
            magni repudiandae eveniet reprehenderit amet, sapiente distinctio
            repellat ipsam molestias facere, odit explicabo.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
            nisi odit quasi, sed dignissimos omnis sit mollitia saepe
            voluptatibus iste sequi laudantium aliquam hic, error molestias
            veniam similique quaerat quae.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quis
            impedit fugit beatae, eaque animi harum, enim, earum cum delectus
            totam numquam! Molestiae minima numquam odio commodi cumque officia,
            deleniti ab. Temporibus suscipit necessitatibus odio quam. Rerum
            dolorem quos amet perspiciatis placeat, nam saepe quod iste, magni
            ipsam debitis. Accusantium quasi quibusdam quod ad nobis, molestiae
            sit deserunt libero incidunt.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis aliquam, optio rerum nam officia distinctio ducimus, at
            quibusdam ex asperiores error cupiditate id hic debitis
            reprehenderit. Enim sequi cupiditate aperiam omnis! Voluptates
            dolorum distinctio praesentium nemo laborum maxime quis aperiam
            provident nisi amet cum perferendis inventore dolore vel, atque
            libero.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur,
            enim atque unde dolores excepturi explicabo amet quibusdam
            dignissimos perferendis necessitatibus, distinctio repellat harum
            ullam! Eligendi adipisci ex quam a aperiam cum accusamus tempora,
            ut, et asperiores praesentium veritatis atque eveniet expedita
            molestias possimus itaque laboriosam qui animi repellat! Dignissimos
            saepe dolorum cum distinctio, quos quidem soluta modi vero tempore
            ea, ad, repudiandae inventore! Facere asperiores libero iure,
            nostrum quis culpa ut consequatur voluptas ullam! Omnis.
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
