<!--
============================================
; Title: RW Punk API Technical Challenge
; Author: Jason Sullenger
; Date: 11/01/2020
; Description: General Website. Calls Punk API.
; Users can filter and search.
;===========================================
-->

<div class="aboutUs">
  <mat-card class="aboutCard">
    <mat-card-header id="justify">
      <mat-card-title>About Us</mat-card-title>
    </mat-card-header>
    <hr />
    <mat-card-content class="aboutContent">
      <div class="about">
        <h4>Revolutionary Beer</h4>
      </div>
    </mat-card-content>
  </mat-card>
</div>
