/*
Title: RW Punk API Technical Challenge
Author: Jason Sullenger
Date: 11/01/2021
Description: General Website. Calls Punk API.
Users can filter and search.
*/

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.AgeDialogStyling {
  background-color: black;
  opacity: 0.9 !important;
}

img {
  max-width: 100%;
  height: auto;
}
